.container {
  background-color: #228;
  color: #FFF;
  text-align: center;
}

.primary {
  font-size: 3.0em;
}

.secondary {
  font-size: 1.0em;
  text-transform: lowercase;
}

.tertiary {
  font-size: 0.7em;
  text-transform: uppercase;
}
