@import "./shared.scss";

$infopanel-background: #228;

.carouselContainer {
  height: $top-infopanel-height;
  background-color: $infopanel-background;
}

.container {
  color: #FFF;
  text-align: center;
}

.primary {
  font-size: 3.0em;
}

.secondary {
  font-size: 1.0em;
  text-transform: lowercase;
}

.tertiary {
  font-size: 0.7em;
  text-transform: uppercase;
}
