@import './shared.scss';

.container {
  color: #FFF;
  position: absolute;
  top: $top-infopanel-height - 1;
  bottom: $bottom-nav-height - 1;
  width: 100%;
}

.heating {
  background-color: #C30;
}

.cooling {
  background-color: #08C;
}

.idle {
  background-color: #555;
}

.marking {
  background-color: #BBB;
  width: 1px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 10%;
  transform-origin: 0 120px;
}

.current {
  width: 3px;
  background-color: #CCC;
}

.target {
  width: 5px;
  height: 30px;
  background-color: #FFF;
}

.between {
  width: 2px;
  background-color: #CCC;
}

.targetTemp {
  position: absolute;
  font-size: 6em;
  top: 120px;
  width: 100%;
  text-align: center;
}

.targetStatus {
  position: absolute;
  font-size: 0.73em;
  top: 125px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.buttonHolder {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 260px;
  font-size: 2.0em;
}

/* TODO: eliminate the below if not needed */
.decrease {
  margin-right: 5px;
}

.increase {

}
